@import './App.scss';

#app-container {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem 3rem;
  background-color: var(--main-clr);
  box-shadow: 0px 0px 5px var(--font-clr-shade1);
}

#header-container {
  padding: 1rem;
  font-family: var(--serif-font);
  color: var(--font-clr);
  border-bottom: solid var(--font-clr-shade1) 1px;
}

#home-header {
  font-size: var(--header-font-size);
  display: flex;
  align-items: center;
  gap: 1em;
}

img#header-logo {
  height: 75px;
}

#main-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#main-nav li a {
  text-decoration: none;
  color: var(--font-clr);
}

#right-nav {
  display: flex;
  align-items: center;
}

span.nav-icon {
  font-size: 1.7rem;
}

#right-nav a.active {
  font-weight: bold;
}
